## Analisis de accciones

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
lista = ['APLE', 'TSLA', 'AMZN', 'META', 'GOOG']
url = "https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1631799308&period2=1663335308&interval=1d&events=history&includeAdjustedClose=true"

In [15]:
df = pd.DataFrame()

In [17]:
lista_temp = list()
for i in lista:
    df_temp = pd.read_csv(url.format(i))
    # Symbol es donde se almacenara el nombre de la compania para identificarlo
    df_temp['Symbol'] = i
    lista_temp.append(df_temp)

### Ignore index para que el index no se repita al momento de unir los data set de cada compania

In [18]:
df = pd.concat(lista_temp, ignore_index=True)

In [19]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2021-09-16,15.230000,15.490000,15.170000,15.350000,14.993930,1589600,APLE
1,2021-09-17,15.460000,15.630000,15.320000,15.350000,14.993930,4391200,APLE
2,2021-09-20,14.990000,15.310000,14.889000,15.280000,14.925552,1778300,APLE
3,2021-09-21,15.440000,15.880000,15.350000,15.710000,15.345579,3653600,APLE
4,2021-09-22,15.870000,16.240000,15.835000,16.090000,15.716764,2922900,APLE
...,...,...,...,...,...,...,...,...
1255,2022-09-09,110.050003,112.000000,110.000000,111.779999,111.779999,21732900,GOOG
1256,2022-09-12,111.989998,112.639999,110.930000,111.870003,111.870003,19732900,GOOG
1257,2022-09-13,108.889999,109.370003,105.000000,105.309998,105.309998,33015000,GOOG
1258,2022-09-14,105.440002,106.099998,104.500000,105.870003,105.870003,22115800,GOOG
1259,2022-09-15,105.010002,106.209999,103.309998,103.900002,103.900002,26446800,GOOG

### Una descripcion de nuestro conjunto de datos

In [20]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03
mean,167.032039,170.098085,163.786183,166.867310,166.813955,4.226506e+07
std,105.818931,108.062630,103.332473,105.656875,105.732929,3.581500e+07
min,14.440000,14.710000,14.290000,14.440000,14.284519,6.383000e+05
25%,112.132750,114.000378,110.293873,112.148746,112.148746,1.685918e+07
50%,151.700752,154.014755,149.084999,151.167748,151.167748,3.226500e+07
75%,244.385834,250.106666,236.911666,242.066670,242.066670,6.464192e+07
max,411.470001,414.496674,405.666656,409.970001,409.970001,2.726620e+08

### Creamos la columna Volat para saber que tan volatil fue la accion en este dia

In [22]:
df['Volat'] = (df['High'] - df['Low']) / df['Open']

In [23]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volat
0,2021-09-16,15.230000,15.490000,15.170000,15.350000,14.993930,1589600,APLE,0.021011
1,2021-09-17,15.460000,15.630000,15.320000,15.350000,14.993930,4391200,APLE,0.020052
2,2021-09-20,14.990000,15.310000,14.889000,15.280000,14.925552,1778300,APLE,0.028085
3,2021-09-21,15.440000,15.880000,15.350000,15.710000,15.345579,3653600,APLE,0.034326
4,2021-09-22,15.870000,16.240000,15.835000,16.090000,15.716764,2922900,APLE,0.025520
...,...,...,...,...,...,...,...,...,...
1255,2022-09-09,110.050003,112.000000,110.000000,111.779999,111.779999,21732900,GOOG,0.018174
1256,2022-09-12,111.989998,112.639999,110.930000,111.870003,111.870003,19732900,GOOG,0.015269
1257,2022-09-13,108.889999,109.370003,105.000000,105.309998,105.309998,33015000,GOOG,0.040132
1258,2022-09-14,105.440002,106.099998,104.500000,105.870003,105.870003,22115800,GOOG,0.015174
1259,2022-09-15,105.010002,106.209999,103.309998,103.900002,103.900002,26446800,GOOG,0.027616

### Creamos la columna return para identificar si se perdio o se gano

In [24]:
df['Return'] = (df['Close'] - df['Open']) - 1.0

In [25]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volat,Return
0,2021-09-16,15.230000,15.490000,15.170000,15.350000,14.993930,1589600,APLE,0.021011,-0.880000
1,2021-09-17,15.460000,15.630000,15.320000,15.350000,14.993930,4391200,APLE,0.020052,-1.110000
2,2021-09-20,14.990000,15.310000,14.889000,15.280000,14.925552,1778300,APLE,0.028085,-0.710000
3,2021-09-21,15.440000,15.880000,15.350000,15.710000,15.345579,3653600,APLE,0.034326,-0.730000
4,2021-09-22,15.870000,16.240000,15.835000,16.090000,15.716764,2922900,APLE,0.025520,-0.780000
...,...,...,...,...,...,...,...,...,...,...
1255,2022-09-09,110.050003,112.000000,110.000000,111.779999,111.779999,21732900,GOOG,0.018174,0.729996
1256,2022-09-12,111.989998,112.639999,110.930000,111.870003,111.870003,19732900,GOOG,0.015269,-1.119995
1257,2022-09-13,108.889999,109.370003,105.000000,105.309998,105.309998,33015000,GOOG,0.040132,-4.580001
1258,2022-09-14,105.440002,106.099998,104.500000,105.870003,105.870003,22115800,GOOG,0.015174,-0.569999
1259,2022-09-15,105.010002,106.209999,103.309998,103.900002,103.900002,26446800,GOOG,0.027616,-2.110000