In [89]:
import pandas as pd

## 1. Obteniendo datos de un archivo CSV

In [90]:
# partidos de las copas del mundo
df_data_matches = pd.read_csv('data/fifa_worldcup_matches.csv')
# todos los partidos que se van a jugar
df_fixture = pd.read_csv('data/fifa_worldcup_fixture.csv')
# partidos de las copas del mundo data faltante
df_data_faltante = pd.read_csv('data/fifa_worldcup_missing_data.csv')

In [91]:
# df_data_matches
df_fixture
# df_data_faltante

                home     score              away  year
0             Qatar    Match 1           Ecuador  2022
1           Senegal    Match 2       Netherlands  2022
2             Qatar   Match 18           Senegal  2022
3       Netherlands   Match 19           Ecuador  2022
4           Ecuador   Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

## 2. Limpiando df_fixture

In [92]:
# borrando espacios en blanco
# Al igualarlo se guarda la data procesada
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

## 3. Limpiando la data faltante y agregándolo al historico

In [93]:
df_data_faltante[df_data_faltante['home'].isnull()]

    home score away  year
396  NaN   NaN  NaN  2010
397  NaN   NaN  NaN  2010
398  NaN   NaN  NaN  2010
399  NaN   NaN  NaN  2010
400  NaN   NaN  NaN  2010
..   ...   ...  ...   ...
455  NaN   NaN  NaN  2010
456  NaN   NaN  NaN  2010
457  NaN   NaN  NaN  2010
458  NaN   NaN  NaN  2010
459  NaN   NaN  NaN  2010

[64 rows x 4 columns]

In [94]:
# Eliminar los datos de tipo NaN
df_data_faltante.dropna(inplace=True)

In [95]:
df_data_faltante

              home score           away  year
0          Mexico    0–0   Soviet Union  1970
1         Belgium    3–0    El Salvador  1970
2    Soviet Union    4–1        Belgium  1970
3          Mexico    4–0    El Salvador  1970
4    Soviet Union    2–0    El Salvador  1970
..             ...   ...            ...   ...
503         Spain    0–1    Switzerland  2010
504         Chile    1–0    Switzerland  2010
505         Spain    2–0       Honduras  2010
506         Chile    1–2          Spain  2010
507   Switzerland    0–0       Honduras  2010

[444 rows x 4 columns]

In [96]:
# Para unir dos dataframe se debe usar concat
df_data_historica = pd.concat([df_data_faltante, df_data_matches], ignore_index=True)

In [97]:
# eliminando datos duplicados
df_data_historica.drop_duplicates(inplace=True)
# Ordenando los datos por year
df_data_historica.sort_values('year', inplace=True)
# Mostrar los datos
df_data_historica

               home score            away  year
450     Yugoslavia    2–1          Brazil  1930
460        Uruguay    6–1      Yugoslavia  1930
459      Argentina    6–1   United States  1930
458       Paraguay    1–0         Belgium  1930
457  United States    3–0        Paraguay  1930
..              ...   ...             ...   ...
863         Brazil    2–0      Costa Rica  2018
864         Serbia    1–2     Switzerland  2018
865         Serbia    0–2          Brazil  2018
867        Germany    0–1          Mexico  2018
900         France    4–2         Croatia  2018

[901 rows x 4 columns]

## 4. Limpiando los datos historicos

In [98]:
# buscamos los partidos que fueron ganado por walkover porque no nos darian datos exactos
df_data_historica[df_data_historica['home'].str.contains('Sweden')]

        home         score           away  year
467  Sweden            3–2      Argentina  1934
490  Sweden            8–0           Cuba  1938
481  Sweden         w/o[a]        Austria  1938
511  Sweden            2–2       Paraguay  1950
518  Sweden            3–1          Spain  1950
510  Sweden            3–2          Italy  1950
578  Sweden            3–1   West Germany  1958
575  Sweden            2–0   Soviet Union  1958
563  Sweden            0–0          Wales  1958
559  Sweden            3–0         Mexico  1958
562  Sweden            2–1        Hungary  1958
9    Sweden            1–1         Israel  1970
41   Sweden            3–0        Uruguay  1974
37   Sweden            0–0       Bulgaria  1974
59   Sweden            2–1     Yugoslavia  1974
55   Sweden            0–1         Poland  1974
197  Sweden            1–2     Costa Rica  1990
195  Sweden            1–2       Scotland  1990
225  Sweden            3–1         Russia  1994
707  Sweden            4–0       Bulgaria  1994
706  Sweden            0–1         Brazil  1994
334  Sweden            1–1      Argentina  2002
727  Sweden   1–2 (a.e.t.)        Senegal  2002
332  Sweden            2–1        Nigeria  2002
358  Sweden            2–2        England  2006
357  Sweden            1–0       Paraguay  2006
891  Sweden            1–0    Switzerland  2018
895  Sweden            0–2        England  2018
868  Sweden            1–0    South Korea  2018

In [99]:
index_eliminar = df_data_historica[df_data_historica['score'].str.contains("w")].index

In [100]:
index_eliminar

Int64Index([481], dtype='int64')

In [101]:
df_data_historica.drop(index = index_eliminar, inplace=True)

In [102]:
# buscando por expresiones regulares
# df_data_historica[df_data_historica['score'].str.contains('[^\d-]')]

# remplazamos todos los que no está en nuestra expression regular
df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d–]', '', regex=True)

In [103]:
df_data_historica[df_data_historica['score'].str.contains('[^\d–]')]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [104]:
df_data_historica[['home_goals', 'away_goals']] = df_data_historica['score'].str.split('–', expand=True)

In [105]:
df_data_historica

               home score            away  year home_goals away_goals
450     Yugoslavia    2–1          Brazil  1930          2          1
460        Uruguay    6–1      Yugoslavia  1930          6          1
459      Argentina    6–1   United States  1930          6          1
458       Paraguay    1–0         Belgium  1930          1          0
457  United States    3–0        Paraguay  1930          3          0
..              ...   ...             ...   ...        ...        ...
863         Brazil    2–0      Costa Rica  2018          2          0
864         Serbia    1–2     Switzerland  2018          1          2
865         Serbia    0–2          Brazil  2018          0          2
867        Germany    0–1          Mexico  2018          0          1
900         France    4–2         Croatia  2018          4          2

[900 rows x 6 columns]

In [106]:
# Eliminamos la columna score porque ya fue dividido
df_data_historica.drop('score', axis=1, inplace=True)

In [107]:
# renombramos los titulos
df_data_historica.rename(columns={'home':'local_team', 'away':'visit_team', 'home_goals':'local_goals', 'away_goals':'visit_goals'}, inplace=True)

In [108]:
# para visualizar los tipos de datos de las series
df_data_historica.dtypes

local_team     object
visit_team     object
year            int64
local_goals    object
visit_goals    object
dtype: object

In [109]:
# para cambiar el tipo de dato
df_data_historica = df_data_historica.astype({'local_goals':int, 'visit_goals':int})

In [110]:
# creamos una nueva columna con el total de goles por partido
df_data_historica['total_goals'] = df_data_historica['local_goals'] + df_data_historica['visit_goals']

In [111]:
df_data_historica

,local_team,visit_team,year,local_goals,visit_goals,total_goals
450,Yugoslavia,Brazil,1930,2,1,3
460,Uruguay,Yugoslavia,1930,6,1,7
459,Argentina,United States,1930,6,1,7
458,Paraguay,Belgium,1930,1,0,1
457,United States,Paraguay,1930,3,0,3
...,...,...,...,...,...,...
863,Brazil,Costa Rica,2018,2,0,2
864,Serbia,Switzerland,2018,1,2,3
865,Serbia,Brazil,2018,0,2,2
867,Germany,Mexico,2018,0,1,1
900,France,Croatia,2018,4,2,6

## 5. Exportar datos limpios

In [112]:
df_data_historica.to_csv('data/fifa_worldcup_matches_clean.csv', index=False)
df_fixture.to_csv('data/fifa_worldcup_fixture_clean.csv', index=False)

In [113]:
years = df_data_historica['year'].unique()

In [117]:
for year in years:
    print(year, len(df_data_historica[df_data_historica['year'] == year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64